.env
.venv/
__pycache__/
lab/frontend/node_modules/
day3/frontend/node_modules/
day3/server.log
day4/frontend/node_modules/
day4/server.log
day5/frontend/node_modules/
day5/server.log
day6/frontend/node_modules/
day6/server.log
day7/frontend/node_modules/
day7/server.log
day7/data/
day8/frontend/node_modules/
day8/server.log
day9/frontend/node_modules/
day9/server.log
day9/data/
day10/frontend/node_modules/
day10/server.log
day10/data/
day11/frontend/node_modules/
day11/server.log
day11/data/
